{% extends 'base.html.twig' %}

{% block title %}Mes messages{% endblock %}
{% block body %}

<div class="container">

    {% for message in messages %}
        <div>{{ message.content }}</div>
        <div>{{ message.fromId}}</div>
    {% endfor %}
<br>

<br>
<br>
    {{ advertisement.title }}

</div>

{% endblock %}