{% extends 'base.html.twig' %}

{% block title %}Vos méssages{% endblock %}

{% block body %}
    <div class="espace30"></div>
    <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            {% for m in test %}
                            {{ m.advertisement.title }}
                            {% endfor %}
                        {% for message in test %}
                            <div>{{ message.content }}</div>
                        {% endfor %}

                            <!--
                            <div></div>
                            {##}% for messages in advertisement.message %}
                                <div>{##}{ messages.content }}</div>
                            {##}% endfor %}
                             -->
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}