body {
    background-color: #fff; /* #e6e6e6 #ededed */
    font-weight: 400;
    margin-bottom: 60px;
}
.bg-light {
    background-color: #f56b2a !important;
}

html {
    position: relative;
    min-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
.navbar-light .navbar-brand {
    color: #ffffff;
    font-size: 30px;
}
.navbar-light .navbar-brand:hover {
    color: #FFFFFF;

}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #ffffff;
}

.annonce {
    color: #f56b2a;
}

p {
    font-weight: 500;
}

.btn-primary {
    background-color: #4183d7;
    border-color: #4183d7;
}

.btn-primary:hover {
    background-color: #4ca0d7;
    transition: 0.3s;
    border-color: #4183d7;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(65, 131, 215, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #4183d7;
    border-color: #4183d7;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4183d7;
    border-color: #4183d7;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(65, 131, 215, 0.5);
}

.btn-secondary {
    background-color: #f56b2a;
    border-color: #f56b2a;
}

.btn-secondary:hover {
    background-color: #F5973C;
    transition: 0.3s;
    border-color: #f56b2a;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(245, 107, 42, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #f56b2a;
    border-color: #a54b1d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #f56b2a;
    border-color: #a54b1d;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(165, 75, 29, 0.5);
}

.btn-success {
    color: #4183d7;
    background-color: #fff;
    border-color: #4183d7;
}

.btn-success:hover {
    color: #4183d7;
    background-color: rgba(76, 160, 215, 0.4);
    border-color: #4183d7;
}

.btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(65, 131, 215, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #4183d7;
    border-color: #4183d7;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #4183d7;
    border-color: #4183d7;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(65, 131, 215, 0.5);
}

.btn-info {
    color: #f56b2a;
    background-color: #FFFFFF;
    border-color: #f56b2a;
}

.btn-info:hover {
    color: #f56b2a;
    background-color: #ededed;
    border-color: #f56b2a;
}

.btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(245, 107, 42, 0.5);
}

.btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(245, 107, 42, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #f56b2a;
    border-color: #f56b2a;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #f56b2a;
    border-color: #f56b2a;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(245, 107, 42, 0.5);
}

.map_image path {
    fill: #3d6abe;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.5s;
}

.map_image path:hover {
    fill: #f56b2a;
}

.map_image {
    width: 70%;
}

.espace50{
    padding: 50px;
}

.espace30{
    padding: 30px;
}
.espace20{
    padding: 20px;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

.form-group {
    width: 50%;
}

.h1-add {
    font-size: 22px;
    color: #989898;
}

.form-group .price {
    width: 35%;
}

.annonce-h2 {
    background-color: #666;
    font-size: 15px;
    color: #FFFFFF;
    width: 100%;
    height: 40px;
    padding: 10px;
}

.test {
    background-color: #FFFFFF;
}

.else-h1, .else-h2, .else-h3 {
    font-size: 50px;
    font-family: Helvetica, Arial, sans-serif;
}

.alert-primary {
    font-size: 15px;
}

.error {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

a {
    color: #369;
}
.a-region {
    display: inline-block;
    margin: 2rem 0;
    padding: 0;
    width: 55%;
    color: gray;
    font-size: 20px;
    font-family: OpenSansBold,sans-serif;
}

.price-r {
    font-size: 1.2rem;
    color: #f56b2a;
    font-weight: bold;
}
.date-a {
    padding-left: 800px;
    color: #6c757d;
}

.logo {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 70px;
}

.page-link {
    color: #369;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #f56b2a;
    border-color: #369;
}

.a-reseau {
    padding: 10px;
}

.a-reseau path:hover {
    fill: #4183d7;
    transition: 0.3s;
}
.a-imprimer {
    text-decoration: none;
    color: black;
}
.a-imprimer:hover {
    text-decoration: none;
    color: #4183d7;
    transition: 0.3s;
}

.a-obligation {
    text-decoration: none;
    color: black;
}
.a-obligation:hover {
    text-decoration: none;
    color: #4183d7;
    transition: 0.3s;
}

.a-facebook {
    text-decoration: none;
    color: black;
}
.a-facebook:hover {
    text-decoration: none;
    color: #4183d7;
    transition: 0.3s;
}

.a-mail {
    text-decoration: none;
    color: black;
}
.a-mail:hover {
    text-decoration: none;
    color: #4183d7;
    transition: 0.3s;
}

.a-description {
    color: black;
    font-weight: 800;
    padding: 10px 0 20px 0;
}
.a-localisation {
    color: black;
    font-weight: 800;
    padding: 10px 0 20px 0;
}
.p-description {
    font-size: 0.9rem;
    font-weight: normal;
}

.droits {
    color: gray;
    font-size: 20px;
    font-family: OpenSansBold,sans-serif;
    font-weight: bold;
    padding-top: 30px;
}

.card-header2 {
    background-color: #666;
    color: #FFFFFF;
    padding: 0.25rem 1.25rem;
}

.my-slider {
    padding: 50px;
}

.my-advertisement {
    padding: 1.3rem 2rem 1rem;
}

.my-advertisement {
    text-decoration: none;
    color: black;
}
.my-advertisement:hover {
    text-decoration: none;
    color: #4183d7;
    transition: 0.3s;
}

.my-advertisement path:hover {
    fill: #4183d7;
    transition: 0.3s;
}
.my-advertisement-title{
    color: #369;
    font-size: 1.2rem;
    font-weight: 500;
}

.a-share {
    font-size: 1rem;
    font-family: OpenSansBold, sans-serif;
    font-weight: bold;
}

.a-error-email {
    margin-top: 8px;
    padding: 5px;
    width: 100%;
    height: 30%;
    border-radius: 5px;
    display: block;
    background-color: #db4437;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
}
.s-send {
    font-size: 1.5rem;
}
.s-warning {
    margin: 10px;
}

.muted {
    color: black;
}
.m {
    margin: 10px;
}
.s-error-message {
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: block;
    background-color: #db4437;
    color: #FFFFFF;
    font-size: 15px;
}

.i-h1 {
    font-family: OpenSansBold, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 20px;
}
.i-my-information {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: OpenSansBold, sans-serif;
}
