.espace10 {
    padding: 10px;
}
.espace20 {
    padding: 20px;
}
.espace30 {
    padding: 30px;
}
.espace40 {
    padding: 40px;
}
.espace50 {
    padding: 50px;
}
.espace60 {
    padding: 60px;
}
.espace70 {
    padding: 70px;
}
