{% extends 'base.html.twig' %}

{% block title %}
    {% for region in regions %}
        {{ region.name }}
    {% endfor %} - nos annonces le bon point
{% endblock %}

{% block body %}

{{ render(controller(
    'App\\Controller\\SearchController::searchAction'
)) }}

<div class="espace30"></div>
    <div class="container">
        <h1 class="a-region">Annonces : {% for region in regions %}{{ region.name }}{% endfor %}</h1>
            {% for advertisement in pagination %}
        <div class="card">
            <h5 class="card-header">{{ advertisement.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">{{ advertisement.category.name }}</h5>
                <img class="img-fluid" src="https://picsum.photos/1000/700" width="192" href="108" alt="test">
                <p class="card-text">{{ advertisement.address }}</p>
                <p class="card-text">{{ advertisement.region.name }}</p>
                <span class="price-r">{{ advertisement.price }} €</span>
                <span class="date-a">{{ advertisement.createdAt|date('d/m/y à H:i') }}</span>
                <br>
                <a href="{{ path('advertisement', {'categorySlug': advertisement.category.categorySlug, 'advertisementSlug': advertisement.advertisementSlug}) }}" class="btn btn-primary">Voir l'annonce</a>
            </div>
        </div>
            {% endfor %}

        <div class="espace30"></div>

        <div class="">
            <div class="navigation">
                {{ knp_pagination_render(pagination, 'pagination/pagination.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {% include('inc/js.html.twig') %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}